@font-face {
  font-family: Montserrat-Regular;
  src: url("../montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../montserrat/Montserrat-Medium.ttf");
}
.nav-link {
  color: black;
  display: inline-block !important;
  padding-right: 10px;
}

.Sign {
  background: #0b2b70;
  border: 1px solid;
  padding: 6px 20px !important;
  color: #ffffff !important;
  border-radius: 5px;
}

.Sign:hover{
    background: #6a8fdf !important
}

body h2{
    color: black;
    font-size: 30px;
}

.main{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto
}